<!DOCTYPE html>
<html lang="ru">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поломоечные машины в Бишкеке | Подметальные машины и клининговое оборудование - Procleaning</title>
    <meta name="description" content="Официальный дистрибьютор клинингового оборудования Eureka в Кыргызстане. Поломоечные и подметальные машины для эффективной уборки.">
</head>
<body>
    <header>
        <div class="container">
            <div class="info">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/Procleaning-Logo.png" alt="Procleaning - клининговое оборудование в Бишкеке">
                    </a>
                </div>
                <div class="info__title">
                    <a href="#about"> О нас</a>
                    <a href="#catalog"> Наш Каталог Клинингового Оборудования </a>
                </div>
                <div class="icon">
                    <a href="tel:+996703813814" class="header-number">+996 703 81 38 14</a>
                    <a href="https://wa.me/996703813814">
                        <img src="/static/images/WhatsApp.svg" alt="Связаться через WhatsApp">
                    </a>
                    <a href="https://www.instagram.com/procleaning.kg/">
                        <img src="/static/images/instagram-Logo.svg" alt="Procleaning в Instagram">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="work__info">
            <div class="container">
                <div class="main__box">
                    <div class="work__text">
                        <h1 class="title">Поломоечные и Подметальные Машины в Бишкеке - Procleaning</h1>
                        <p class="info__text">Официальный дистрибьютор в Кыргызстане итальянского производителя профессиональной клининговой техники <span class="eureka">"EUREKA"</span></p>
                        <button class="info__btn"><a href="#detail">Подробнее</a></button>
                    </div>
                    <div>
                        <img class="work__image" src="/static/images/Frame%205.png" alt="Поломоечные и подметальные машины Eureka">
                    </div>
                </div>
            </div>
        </section>

        <section id="catalog" class="works__cards">
            <div class="container">
                <div class="main__container">
                    {% for machine in machines %}
                        <div class="card">
                            <img src="/media/{{ machine.photo }}" alt="">
                            <button class="card__btn">
                                 <a href="{% url 'category_page' category_id=machine.pk %}">{{ machine.name }}</a>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- ------------------------------------- -->

        <section id="about" class="compani">
            <div class="container">
                <div class="information">
                    <div class="info__section">
                        <h2>О КОМПАНИИ</h2>
                        <p class="one"><a href="https://www.eurekasweepers.com/en" target="_blank"><span>Eureka</span></a>
 это известный итальянский производитель профессиональной техники для уборки разных типов полов.</p>
                        <p class="two">Компания основана в 1986 году и на сегодняшний день заслужила мировое признание как один из лучших производителей поломоечных и подметальных машин.</p>
                        <p class="thre">Наша выигрышная комбинация –многолетний опыт итальянских инженеров в сочетании с внутренним производством <span>100% MADE IN ITALY.</span></p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="result">
                    <h2>НАГЛЯДНЫЙ ПРИМЕР РАБОТЫ</h2>
                    <img src="/static/images/Group%202.png" alt="">
                    <div class="video__item">
                        <video src="{% static 'video1.mp4' %}" controls></video>
                    </div>
                </div>
            </div>
        </section>
        <section id="detail" class="compani">
            <div class="container">
                <div class="information">
                    <div class="info__section">
                        <h2>ПРОКЛИНИНГ</h2>
                        <p class="one">✨ <span>Уборка</span> - это один из неотъемлемых аспектов нашей повседневной жизни.
                            В современном мире, где время равно деньгам, эффективные методы очистки становятся все более важными.
                            Eureka, ведущий итальянский производитель профессиональной клининговой техники, предлагает решения, которые обеспечивают быстроту, точность и экономию ресурсов.</p>
                        <p class="two">✨ Наши <span>поломоечные машины</span> и <span>подметальные машины</span>, а также специализированное оборудование <span>для очистки эскалаторов</span>,
                            созданы для того, чтобы решать самые сложные задачи с минимальными затратами времени и средств.
                            Мы гарантируем надежность и качество каждого нашего изделия.</p>
                        <p class="thre">✨ Обращайтесь к нам для консультаций и подбора оптимального оборудования под ваши потребности.
                            С нами вы всегда будете на шаг впереди, обеспечивая безупречную чистоту, сохраняя время и ресурсы.
                            Доверьтесь опыту и инновациям <span>Eureka</span> – вашему надежному партнеру в мире профессионального уборочного оборудования в Кыргызстане. 🤝</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="transition">
                    <img src="/static/images/11.jpg" alt="">
                    <img src="/static/images/22.jpg" alt="">
                    <img src="/static/images/33.jpg" alt="">
                    <img src="/static/images/44.jpg" alt="">
                    <img src="/static/images/55.jpg" alt="">
                    <img src="/static/images/66.jpg" alt="">
                    <img src="/static/images/77.jpg" alt="">
                    <img src="/static/images/88.jpg" alt="">
                    <img src="/static/images/99.jpg" alt="">
                    <img src="/static/images/1010.jpg" alt="">
                </div>
                <div class="event__icon">
                    <h2>НАШИ ДОВОЛЬНЫЕ КЛИЕНТЫ</h2>
                </div>
                <div class="event__card">
                    <img src="/static/images/cum_tc.png" alt="">
                    <img src="/static/images/dordoi_pl.png" alt="">
                    <img src="/static/images/asia_mall.png" alt="">
                    <img src="/static/images/shoro.png" alt="">
                    <img src="/static/images/cocacola2.png" alt="">
                    <img src="/static/images/avangard2.png" alt="">
                    <img src="/static/images/airport.png" alt="">
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer__iner">
                    <a href="/">
                        <img src="/static/images/Procleaning-Logo.png" alt="Procleaning - клининговое оборудование в Бишкеке">
                    </a>
                </div>
                <div class="footer__info">
                    <p>Телефон</p>
                    <a href="tel:+996703813814">
                        <p>+996 703 81 38 14</p>
                    </a>
                </div>
                <div class="footer__info">
                    <p>Электронная почта</p>
                    <a href="mailto:Tcl82@mail.ru">
                        <p>Tcl82@mail.ru</p>
                    </a>
                </div>
                <div class="footer__info">
                    <a href="https://wa.me/996703813814">
                        <img src="/static/images/WhatsApp.svg" alt="Связаться через WhatsApp">
                    </a>
                    <a href="https://www.instagram.com/procleaning.kg/">
                        <img src="/static/images/instagram-Logo.svg" alt="Procleaning в Instagram">
                    </a>
                </div>
            </div>
        </div>
    </footer>

{% block content %}
{% endblock %}
</body>
</html>
