<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROCLEANING</title>
    <link rel="stylesheet" href="{% static 'products.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="info">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/Procleaning-Logo.png" alt="Логотип Procleaning">
                    </a>
                </div>
                <div class="info__title">
                    <a href="/#about"> О нас</a>
                    <a href="/#catalog"> Каталог </a>
                </div>
                <div class="icon">
                    <a href="tel:+996703813814" class="header-number">+996 703 81 38 14</a>
                    <a href="https://wa.me/996703813814">
                        <img src="/static/images/WhatsApp.svg" alt="">
                    </a>
                    <a href="https://www.instagram.com/procleaning.kg/">
                        <img src="/static/images/instagram-Logo.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="car">
                    <div class="car__image">
                        <img src="/media/{{ cards.photo_2 }}" alt="">
                    </div>
                    <div class="car__text">
                        <div class="car__btn">
                            <p class="tg__text">
                                -{{ cards.in_stock }}-
                            </p>
                            <p class="eb_text">
                                {{ cards.name_2 }}
                            </p>
                            <div class="dk_text">
                                <p>
                                    {{ cards.info }}
                                </p>
                            </div>
                            <p>
                                {{ cards.info_2 }}
                            </p>
                            <div class="btn__car">
                                <button class="white" id="white-button"><a href="{{ cards.video_link }}" target="_blank" class="white">Посмотреть видео</a></button>
                                <button class="green"><a href="tel:+996703813814" class="green">Связаться</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="footer_t">
                <div class="footer__iner">
                    
                </div>
                <div class="footer__info">
                    <p>Телефон</p>
                    <a href="tel:+996703813814">
                        <p>+996 703 81 38 14</p>
                    </a>
                </div>
                <div class="footer__info">
                    <p>Электронная почта</p>
                    <a href="mailto:Tcl82@mail.ru">
                        <p>Tcl82@mail.ru</p>
                    </a>
                </div>
                <div class="footer__info">
                    <a href="">

                    </a>

                    <a href="">

                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>