<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cards.name_2 }} - Поломоечная/Подметальная Машина | Procleaning Бишкек</title>
    <meta name="description" content="{{ cards.name_2 }} - {{ cards.info }}. Узнайте больше и свяжитесь с нами для заказа.">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16667328572">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16667328572');
    </script>
</head>
<body>
    <header>
        <div class="container">
            <div class="info">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/Procleaning-Logo.png" alt="Procleaning - клининговое оборудование в Бишкеке">
                    </a>
                </div>
                <div class="info__title">
                    <a href="/#about"> О нас</a>
                    <a href="/#catalog"> Каталог </a>
                </div>
                <div class="icon">
                    <a href="tel:+996703813814" class="header-number">+996 703 81 38 14</a>
                    <a href="https://wa.me/996703813814">
                        <img src="/static/images/WhatsApp.svg" alt="Связаться через WhatsApp">
                    </a>
                    <a href="https://www.instagram.com/procleaning.kg/">
                        <img src="/static/images/instagram-Logo.svg" alt="Procleaning в Instagram">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="car">
                    <div class="car__image">
                        <img src="/media/{{ cards.photo_2 }}" alt="{{ cards.name_2 }} - Поломоечная/Подметальная машина">
                    </div>
                    <div class="car__text">
                        <div class="car__btn">
                            <h1>{{ cards.name_2 }} - Поломоечная/Подметальная машина</h1>
                            <p class="tg__text">
                                В наличии: {{ cards.in_stock }}
                            </p>
                            <div class="dk_text">
                                <p>
                                    {{ cards.info }}
                                </p>
                            </div>
                            <p>
                                {{ cards.info_2 }}
                            </p>
                            <div class="btn__car">
                                <button class="white" id="white-button"><a href="{{ cards.video_link }}" target="_blank" class="white">Видео: {{ cards.name_2 }}</a></button>
                                <button class="green"><a href="tel:+996703813814" class="green">Связаться</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer_t">
                <div class="footer__iner">
                    <a href="/">
                        <img src="/static/images/Procleaning-Logo.png" alt="Procleaning - клининговое оборудование в Бишкеке">
                    </a>
                </div>
                <div class="footer__info">
                    <p>Телефон</p>
                    <a href="tel:+996703813814">
                        <p>+996 703 81 38 14</p>
                    </a>
                </div>
                <div class="footer__info">
                    <p>Электронная почта</p>
                    <a href="mailto:Tcl82@mail.ru">
                        <p>Tcl82@mail.ru</p>
                    </a>
                </div>
                <div class="footer__info">
                    <!-- Дополнительные ссылки или информация -->
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
